<div class="container" style="margin-top: 30px; margin-bottom: 115px;">
    <div class="row">
        <div class="col-md-12">
            <h2>Ticket Booking</h2>
        </div>
    </div>
    <div class="row mt-4 mb-3">
        <div class="col-md-12">
            <p><b>Cinema Name:</b> {{ cinemaMovieDetails?.cinema_name }}</p>
        </div>
        <div class="col-md-12">
            <p><b>Movie Name:</b> {{ cinemaMovieDetails?.movie_name }}</p>
        </div>
        <div class="col-md-3">
            <p><b>Movie Date:</b> 13 Jan 2019</p>
        </div>
        <div class="col-md-3">
            <p><b>Movie ShowTime: </b>{{movieDateTime}}</p>
        </div>
    </div>
    <form [formGroup]="ticketBookingForm" (submit)="onTicketBookingFormSubmit()">
        <div class="form-group">
            <mat-form-field>
                <mat-label>Ticket Price</mat-label>
                <mat-select formControlName="ticketPrice">
                    <mat-option *ngFor="let price of ticketPrices" [value]="price.price">{{price?.category}} - {{price?.price}}</mat-option>                    
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Available Seats</mat-label>
                <mat-select formControlName="seats" multiple>
                    <mat-option *ngFor="let seat of availSeats" [value]="seat">{{seat}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group row mt-5 mb-4">
            <div class="col-md-5">
                <button type="submit" class="btn btn-primary" [disabled]="!ticketBookingForm.valid">Book Ticket</button>
            </div>
        </div>
    </form>
</div>