<div class="container" style="margin-top: 30px; margin-bottom: 115px;">
    <div class="row">
        <div class="col-md-12">
            <h2>Ticket Booking</h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <p><b>Cinema Name:</b> {{ cinemaMovieDetails?.cinema_name }}</p>
        </div>
        <div class="col-md-12">
            <p><b>Movie Name:</b> {{ cinemaMovieDetails?.movie_name }}</p>
        </div>
        <div class="col-md-3">
            <p><b>Movie Date:</b> 13 Jan 2019</p>
        </div>
        <div class="col-md-3">
            <p><b>Movie ShowTime: </b>{{movieDateTime}}</p>
        </div>
    </div>
    <form [formGroup]="ticketBookingForm" (submit)="onTicketBookingFormSubmit()">
        <div class="form-group row">
            <label for="staticEmail" class="col-md-2 col-form-label"><b>Ticket Price</b></label>
            <div class="col-md-5">
                <select class="form-control" id="sel1" formControlName="ticketPrice">
                    <option value="">Select Price</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-md-2 col-form-label"><b>Available Seats</b></label>
            <div class="col-md-5">
                <select class="form-control" id="sel1" formControlName="seats">
                    <option value="">Select Seats</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
        </div>
        <div class="form-group row mt-5">
            <div class="col-md-5">
                <button type="submit" class="btn btn-primary" [disabled]="!ticketBookingForm.valid">Book Ticket</button>
            </div>
        </div>
    </form>
</div>